.center-glow {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-color: #fff; /* Optional background color */
  border-radius: 50%; /* Create a circular shape */
  position: relative; /* Needed for box-shadow positioning */
  box-shadow: 0 0 50px 70px rgba(255, 255, 255, 0.5); /* Inner glow effect */
}

.animate-slide {
  animation: slide 1.5s linear infinite;
  background-size: 200% auto;
}

.underline-effect {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Adjust based on your needs */
}

.underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: currentColor; /* Uses the text color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-effect:hover::after,
.underline-effect:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
